// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.testing-sass {
    background-color: #f5f5f5;
    padding: 20px;
    border: 2px solid #333;
    color: #333;
}